.header {
    position: absolute;
    z-index: 200;
    width: 100%;
    padding: 10px 0;
    transition: background-color 0.3s ease-out;
    @mixin atMedium {
        background-color: rgba($mainBlue, 0.3);
        position: fixed;
        &--dark {
            background-color: rgba(23, 51, 72, 0.85);
        }
    }
    &--menu-open {
        background-color: rgba($mainBlue, 0.5);
    }
    ///////////////////////////////////////////////////////////////////////////
    &__menu-icon {
        @mixin atMedium { display: none }
        position: absolute;
        z-index: 300;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: transform 0.3s ease-out;
        }
        &__middle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) scaleX(1);
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            opacity: 1;
            transition: all 0.3s ease-out;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: transform 0.3s ease-out;
        }
        &--close-x {
            &::before {
                transform: rotate(45deg) scaleX(1.25);
                transform-origin: top left;
            }
            .header__menu-icon__middle {
                transform: scaleX(0);
                opacity: 0;
                transform-origin: left;
            }
            &::after {
                transform: rotate(-45deg) scaleX(1.25);
                transform-origin: bottom left;
            }
        }
    }
    &__menu-content {
        opacity: 0;
        transition: all 0.3s ease-out;
        position: relative;
        z-index: -100;
        overflow: hidden;
        padding-top: 90px;
        text-align: center;
        transform: scale(1.2);
        @mixin atMedium {
            opacity: 1;
            z-index: 300;
            display: block;
            padding: 0;
            transform: scale(1);
        }
        &--open {
            opacity: 1;
            z-index: 250;
            transform: scale(1);
        }
    }
    &__btn-container {
        @mixin atMedium { float: right }
    }
    &__logo {
        position: absolute;
        z-index: 300;
        top: 0;
        left: 50%;
        transition: transform 0.3s ease-out;
        transform: translateX(-50%) scale(0.8);
        transform-origin: top;
        padding: 25px 36px;
        &__graphic { text-indent: -9999px }
        background-color: $mainBlue;
        @mixin atMedium {
            left: 100px;
            transform: translateX(0) scale(1);
            .header--dark & {
                transform: scale(0.56)
            }
        }
    }
}
