.row {
    @mixin clearfix;
    &--gutters {
        margin-right: calc($gutter-width * -1);
        & > div { padding-right: $gutter-width }
        &--large {
            margin-right: calc((1.5 * $gutter-width) * -1);
            & > div { padding-right: calc(1.5 * $gutter-width) }
        }
        &--small {
            margin-right: calc((0.7 * $gutter-width) * -1);
            & > div { padding-right: calc(0.7* $gutter-width) }
        }
    }
    &--t-padding {
        padding-top: 5rem;
    }
    &__b-margin-until-md {
        margin-bottom: 1rem;
        @mixin atMedium {
            margin-bottom: 0;
        }
    }
    /* MEDIUM SCREENS */
    @mixin atMedium{
        &__md-1 {
            float: left;
            width: calc(1 * (100% / 12));
            &--larger {
                float: left;
                width: calc(1.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(0.75 * (100% / 12));
            }
        }
        &__md-2 {
            float: left;
            width: calc(2 * (100% / 12));
            &--larger {
                float: left;
                width: calc(2.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(1.75 * (100% / 12));
            }
        }
        &__md-3 {
            float: left;
            width: calc(3 * (100% / 12));
            &--larger {
                float: left;
                width: calc(3.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(2.75 * (100% / 12));
            }
        }
        &__md-4 {
            float: left;
            width: calc(4 * (100% / 12));
            &--larger {
                float: left;
                width: calc(4.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(3.75 * (100% / 12));
            }
        }
        &__md-5 {
            float: left;
            width: calc(5 * (100% / 12));
            &--larger {
                float: left;
                width: calc(5.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(4.75 * (100% / 12));
            }
        }
        &__md-6 {
            float: left;
            width: calc(6 * (100% / 12));
            &--larger {
                float: left;
                width: calc(6.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(5.75 * (100% / 12));
            }
        }
        &__md-7 {
            float: left;
            width: calc(7 * (100% / 12));
            &--larger {
                float: left;
                width: calc(7.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(6.75 * (100% / 12));
            }
        }
        &__md-8 {
            float: left;
            width: calc(8 * (100% / 12));
            &--larger {
                float: left;
                width: calc(8.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(7.75 * (100% / 12));
            }
        }
        &__md-9 {
            float: left;
            width: calc(9 * (100% / 12));
            &--larger {
                float: left;
                width: calc(9.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(8.75 * (100% / 12));
            }
        }
        &__md-10 {
            float: left;
            width: calc(10* (100% / 12));
            &--larger {
                float: left;
                width: calc(10.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(9.75 * (100% / 12));
            }
        }
        &__md-11 {
            float: left;
            width: calc(11 * (100% / 12));
            &--larger {
                float: left;
                width: calc(11.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(10.75 * (100% / 12));
            }
        }
        &__md-12 {
            float: left;
            width: calc(12 * (100% / 12));
            &--larger {
                float: left;
                width: calc(12.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(11.75 * (100% / 12));
            }
        }
    }
    /* LARGE SCREENS */
    @mixin atLarge {
        &__lg-1 {
            float: left;
            width: calc(1 * (100% / 12));
            &--larger {
                float: left;
                width: calc(1.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(0.75 * (100% / 12));
            }
        }
        &__lg-2 {
            float: left;
            width: calc(2 * (100% / 12));
            &--larger {
                float: left;
                width: calc(2.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(1.75 * (100% / 12));
            }
        }
        &__lg-3 {
            float: left;
            width: calc(3 * (100% / 12));
            &--larger {
                float: left;
                width: calc(3.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(2.75 * (100% / 12));
            }
        }
        &__lg-4 {
            float: left;
            width: calc(4 * (100% / 12));
            &--larger {
                float: left;
                width: calc(4.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(3.75 * (100% / 12));
            }
        }
        &__lg-5 {
            float: left;
            width: calc(5 * (100% / 12));
            &--larger {
                float: left;
                width: calc(5.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(4.75 * (100% / 12));
            }
        }
        &__lg-6 {
            float: left;
            width: calc(6 * (100% / 12));
            &--larger {
                float: left;
                width: calc(6.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(5.75 * (100% / 12));
            }
        }
        &__lg-7 {
            float: left;
            width: calc(7 * (100% / 12));
            &--larger {
                float: left;
                width: calc(7.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(6.75 * (100% / 12));
            }
        }
        &__lg-8 {
            float: left;
            width: calc(8 * (100% / 12));
            &--larger {
                float: left;
                width: calc(8.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(7.75 * (100% / 12));
            }
        }
        &__lg-9 {
            float: left;
            width: calc(9 * (100% / 12));
            &--larger {
                float: left;
                width: calc(9.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(8.75 * (100% / 12));
            }
        }
        &__lg-10 {
            float: left;
            width: calc(10* (100% / 12));
            &--larger {
                float: left;
                width: calc(10.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(9.75 * (100% / 12));
            }
        }
        &__lg-11 {
            float: left;
            width: calc(11 * (100% / 12));
            &--larger {
                float: left;
                width: calc(11.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(10.75 * (100% / 12));
            }
        }
        &__lg-12 {
            float: left;
            width: calc(12 * (100% / 12));
            &--larger {
                float: left;
                width: calc(12.25 * (100% / 12));
            }
            &--smaller {
                float: left;
                width: calc(11.75 * (100% / 12));
            }
        }
    }
    /* BEGIN EQUAL HEIGHT CSS RULES*/
    &--equal-height-md {
        @mixin atMedium {
            display: flex;
        }
        & > div {
            float: none;
            display: flex;
        }
    }
    &--equal-height-lg {
        @mixin atLarge {
            display: flex;
        }
        & > div {
            float: none;
            display: flex;
        }
    }
}
